.todos {
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
}

.todo-content {
    min-height: 255px;
}

.card-buttons {
    margin-top: 10px;
}

.delete-modal {
    position: absolute;
    top: 10%;
}